// variables
$darkBlue: #0C202D;
$grey: #707070;


body, html {
  //font-family: 'Francois One', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.site-title {
  font-family: 'Francois One', sans-serif;
  font-size: 3.125rem;
  text-transform: uppercase;
}

.site-desc {
  font-size: 0.938rem;
  font-weight: 300;
  position: relative;
}

.page-link {
  width: 11rem;
}

.siteHeader__nav {
  padding: 5rem 0 2rem 0;
  width: 100%;
  background: rgba(255,255,255,0.05);
  position: absolute;
  top: 0;
  left: 0;
}

.siteheader__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.siteheader__menulink {
  color: #fff;
  text-decoration: none;
  z-index: 999;
  position: relative;
  padding: 0.2rem 0.4rem;
  font-family: 'Francois One', sans-serif;
  box-sizing: border-box;

  &::before {
    z-index: -1;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #fff;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  }

  &:hover {
    color: #000;
  }

  &:focus {
    border: 2px solid #fff;
  }

  &:hover::before {
    width: 100%;
  }
}

.siteheader__menulink--active {
  color: #000;

  &::before {
    width: 100%;
  }
}

.siteheader__menuitem {
  margin-right: 2rem;

  &:last-child {
    margin: 0;
  }
}



