// variables
$darkBlue: #0C202D;
$grey: #707070;


body, html {
  //font-family: 'Francois One', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.site-title {
  font-family: 'Francois One', sans-serif;
  font-size: 3.125rem;
  text-transform: uppercase;
}

.site-desc {
  font-size: 0.938rem;
  font-weight: 300;
}

