.header-info {
  background: linear-gradient(rgba(20, 30, 48, 0.98), rgba(36, 59, 85,0.95)), url('../images/rzedesign-page-bg-mobile.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  min-height: 40rem;

  @media(min-width: 1000px) {
    background: linear-gradient(rgba(20, 30, 48, 0.98), rgba(36, 59, 85,0.95)), url('../images/rzedesign-page-bg-fhd.jpg');
    background-position: center;
  }
}

.header-info--works {
  background: linear-gradient(rgba(15, 32, 39, 0.98), rgba(32, 58, 67,0.95), rgba(36,36,62, 0.95)), url('../images/rzedesign-pageworks-bg-mobile.jpg');
  background-position: center;
  @media(min-width: 1000px) {
    background: linear-gradient(rgba(15, 32, 39, 0.98), rgba(32, 58, 67,0.95), rgba(36,36,62, 0.95)), url('../images/rzedesign-pageworks-bg-fhd.jpg');
    background-position: center;
  }
}
.bg-info {
  background: none;
  overflow: unset;
}

.text--white {
  color: #fff;
}

.after-line {
  &::after {
    width: 100px;
    height: 1px;
    content: '';
    background: #fff;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.info-main {
  position: relative;
  margin-top: -8rem;
  background: url('../images/polygons-bg-big.png');
  background-size: cover;
  background-attachment: fixed;
}

.article-title {
  text-align: center;
  font-family: 'Francois One', sans-serif;
  font-size: 1.875rem;
  color: #fff;
  margin-bottom: 10rem;
}

.img-figure {
  margin-bottom: 1.8rem;
}

.main-content {
  padding: 1rem 1.375rem;
  max-width: 1230px;
  margin: 0 auto;
}

.image-caption {
  text-align: right;
  font-weight: 300;
  font-size: 0.8rem;
  opacity: 0.75;
}

.article-img {
  margin: 0 auto;
  width: 100%;
}

.article-paragraph {
  line-height: 1.3rem;
  margin-bottom: 15px;
}

.footer-page {
  position: relative;
  top: unset;
  left: unset;
  right: unset;
}

.p-group {
  max-width: 500px;
  margin: 0 auto 1.5rem auto;
}

.article-section {
  margin: 0 auto;
  padding: 3rem 0;

  &:first-of-type {
    padding: 1rem 0 0 0;
  }
}

.article-section-paragraph {
  line-height: 1.3rem;
}

.article-section-article:not(:last-child) {
  margin-bottom: 2.43rem;
}

.article-section-title {
  font-family: 'Francois One', sans-serif;
  font-size: 1.25rem;
  color: $darkBlue;
  padding: 1rem 0;
  border-bottom: 1px solid #C5C5C5;
  //text-align: center;
  margin-bottom: 2rem;
}

.article-link {
  color: $blue;
  position: relative;

  &:hover, &:focus {
    color: #00bcd4;
  }
}


.article-section-article_title {
  color: $blue;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-family: 'Francois One', sans-serif;
}

@media (min-width: 700px) {
  .p-group {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-figure {
    flex: 1;
  }
  .article-paragraph {
    flex: 1;
    margin-bottom: 0;
    margin-left: 6rem;
  }
}

@media (min-width: 1200px) {
  .p-group {
    &:nth-child(2n+1) {
      transform: translateX(5rem);
    };
    &:nth-child(2n) {
      transform: translateX(-5rem);
    }
  }
}
